<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member 목록</title>
</head>
<body>
<div style="display:flex;justify-content:space-between;align-items:center;width:fit-content">
    <h2 style="margin: 0 0;">Member 목록</h2>
    <div style="margin-left: 3rem">
        <button onclick="document.location='/members/new';">추가</button>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th style="text-align: center">나이</th>
        <th style="text-align: center">생성일</th>
        <th style="text-align: center">수정일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}" th:onclick="|document.location='/members/${member.id}';|">
        <td th:text="${member.name}"></td>
        <td style="padding: 0 3rem" th:text="${member.age}"></td>
        <td style="padding: 0 3rem" th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td style="padding: 0 3rem" th:text="${#temporals.format(member.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>